@use './variables' as v;

.audio-projects {
    padding: 50px 0 50px 0;
    background-color: v.$default-color;
    .text-container {
    text-align: center;
    }
}
.audio-projects-block {
    display: flex;
    justify-content: space-between;
    .audio-project {
        width: 45%;
        iframe {
            width: 300px;
            height: 300px;
        }
        img {
            height: 300px;
            width: 300px;
        }
    }
}

@media (max-width: 720px) {
    .audio-projects .audio-projects-wrapper .wrapper .audio-projects-block {
        display: flex;
        flex-direction: column;
    }
}