@use './variables.scss' as v;

ul {
    list-style: none;;
}

.wrapper {
    width: 1280px; 
    width: 60%;
    margin: 0 auto;
}

.button {
    background-color: v.$button-color;
    width: 150px;
    padding: 7px;
    p {
        font-family: v.$secondary-font;
        text-align: center;
        font-weight: bold;
        a {
            text-align: center;
            text-decoration: none;
            font-family: v.$secondary-font;
        }
        a:visited {
            color: v.$primary-font-color;
        }
    }
}