@use './variables.scss' as v;

.skills {
    background-color: v.$primary-color;
    padding-bottom: 50px;
    .text-container {
        text-align: center;
        padding-top: 50px;
        .skills-list {
            padding-left: 0px; 
            display: grid;
            grid-auto-rows: 33% 33% 33%;
            grid-template-columns: 25% 25% 25% 25%;
            row-gap: 25px;
            li {
                display: flex;
                flex-direction: column;
                font-family: v.$secondary-font;
            }
            li i {
                font-size: clamp(2.5rem, 1.8608rem + 3.196vw, 5.3125rem);
            }
        }
        // .other-skills-list-container {

            .other-skills-list {
                padding-left: 0px;
                display: grid;
                grid-auto-rows: 50% 50%;
                grid-template-columns: 50% 50%;
                row-gap: 25px;
                li {
                    display: flex;
                    flex-direction: column;
                    font-family: v.$secondary-font;
                }
                li i {
                    font-size: clamp(2.5rem, 1.8608rem + 3.196vw, 5.3125rem);
                }
            }
        // }
    }
}