@use './variables.scss' as v;

.skills {
    background-color: v.$primary-color;
    padding-bottom: 50px;
    .text-container {
        text-align: center;
        padding-top: 50px;
        .skills-list {
            padding-left: 0px; 
            display: grid;
            grid-auto-rows: 33% 33% 33%;
            grid-template-columns: repeat(auto-fit, minmax(min(100%/2, max(150px, 100%/4)), 1fr));
            row-gap: 25px;
            li {
                display: flex;
                flex-direction: column;
                font-family: v.$secondary-font;
            }
            li i {
                font-size: clamp(2.5rem, 1.8608rem + 3.196vw, 5.3125rem);
            }
            li i:focus {
                outline: gainsboro;
            }
        }
        .other-skills-accordion {
            .panel ul li {
                list-style: disc;
                text-align: left;
                font-family: v.$secondary-font;
            }
            .accordion {
                background-color: v.$primary-color;
                font-family: v.$secondary-font;
                color: black;
                cursor: pointer;
                padding: 0px;
                width: 100%;
                text-align: center;
                border: none;
                outline: none;
                transition: 0.4s;     
                .skills-title-container {
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                }
                .skills-title-container i {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .skills-title-container .skill-container {
                    width: 100%;
                }
                .skills-title-container .skil-container h4 {
                    margin: 0;
                }
            }
            .active, .accordion:hover {
                background-color: v.$secondary-color;
              }

            .active, .accordion:focus {
                background-color: v.$secondary-color;
            }
    
              .panel {
                padding: 0 18px;
                background-color: v.$primary-color;
                display: none;
                overflow: hidden;
              }
        }
        
    }
}



