@use './variables' as v;

html {
    font-family: v.$primary-font;
    font-size: 125%;
}

p {
    font-size: 0.75rem;
}

h1 {
    font-family: v.$secondary-font;
    font-size: 3rem;
}

h2 {
    font-family: v.$secondary-font;
    font-size: 2rem;
}

h3 {
    font-family: v.$primary-font;
    font-size: 1.5rem;
}

h4 {
    font-family: v.$secondary-font;
}

h5 {
    font-family: v.$secondary-font;
    font-weight: lighter;
    text-transform: uppercase;
}