$primary-font: 'Lora', serif;

$secondary-font: 'Alexandria', sans-serif;

$header-color: #36423b;

$button-color: #B07BAC;

$primary-color: #5F7367;

$project-color: #D9D7DD;

$secondary-color: #9daa96;

$default-color: whitesmoke;

$primary-font-color: black;

$secondary-font-color: white;