html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
}

.wrapper {
  width: 1280px;
  width: 60%;
  margin: 0 auto;
}

.button {
  background-color: #B07BAC;
  width: 150px;
  padding: 7px;
}
.button p {
  font-family: "Alexandria", sans-serif;
  text-align: center;
}
.button p a {
  text-align: center;
  text-decoration: none;
  font-family: "Alexandria", sans-serif;
}
.button p a:visited {
  color: black;
}

html {
  font-family: "Lora", serif;
  font-size: 125%;
}

p {
  font-size: 0.75rem;
}

h1 {
  font-family: "Alexandria", sans-serif;
  font-size: 3rem;
}

h2 {
  font-family: "Alexandria", sans-serif;
  font-size: 2rem;
}

h3 {
  font-family: "Lora", serif;
  font-size: 1.5rem;
}

h4 {
  font-family: "Alexandria", sans-serif;
}

h5 {
  font-family: "Alexandria", sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0;
}
nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Alexandria", sans-serif;
}
nav ul li a {
  text-decoration: none;
  color: black;
  position: relative;
}
nav ul li a a:visited {
  color: black;
}
nav ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: black;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
nav ul li a:hover::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.main-header {
  height: 100vh;
  background-color: #36423b;
}
.main-header .nav-wrapper {
  background-color: whitesmoke;
  height: 60px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 1px 1px cornsilk;
          box-shadow: 0px 0px 1px 1px cornsilk;
}
.main-header .nav-wrapper .hero-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.main-header .nav-wrapper .hero-container h1,
.main-header .nav-wrapper .hero-container h3 {
  color: white;
}
.main-header .nav-wrapper .hero-container h1 {
  margin: 0;
  font-size: 5vw;
}
.main-header .nav-wrapper .hero-container h3 {
  margin: 5px 0 35px 0;
}
.main-header .nav-wrapper .hero-container .hero-text-container {
  border: 7px solid whitesmoke;
  padding: 30px;
}
.main-header .nav-wrapper .hero-container .hero-text-container .button-container {
  position: absolute;
  width: 54%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-me .about-me-wrapper .wrapper {
  text-align: center;
}

.skills {
  background-color: #5F7367;
  padding-bottom: 50px;
}
.skills .text-container {
  text-align: center;
  padding-top: 50px;
}
.skills .text-container .skills-list {
  padding-left: 0px;
  display: grid;
  grid-auto-rows: 33% 33% 33%;
  grid-template-columns: 25% 25% 25% 25%;
  row-gap: 25px;
}
.skills .text-container .skills-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Alexandria", sans-serif;
}
.skills .text-container .skills-list li i {
  font-size: clamp(2.5rem, 1.8608rem + 3.196vw, 5.3125rem);
}
.skills .text-container .other-skills-list {
  padding-left: 0px;
  display: grid;
  grid-auto-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  row-gap: 25px;
}
.skills .text-container .other-skills-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Alexandria", sans-serif;
}
.skills .text-container .other-skills-list li i {
  font-size: clamp(2.5rem, 1.8608rem + 3.196vw, 5.3125rem);
}