html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
}

.wrapper {
  width: 1280px;
  width: 60%;
  margin: 0 auto;
}

.button {
  background-color: #B07BAC;
  width: 150px;
}
.button p {
  font-family: "Alexandria", sans-serif;
  text-align: center;
  font-weight: bold;
}
.button p a {
  text-align: center;
  text-decoration: none;
  font-family: "Alexandria", sans-serif;
  color: black;
}
.button p a:visited {
  color: black;
}

html {
  font-family: "Lora", serif;
  font-size: 125%;
}

p {
  font-size: 0.75rem;
}

h1 {
  font-family: "Alexandria", sans-serif;
  font-size: 3rem;
}

h2 {
  font-family: "Alexandria", sans-serif;
  font-size: 2rem;
}

h3 {
  font-family: "Lora", serif;
  font-size: 1.5rem;
}

h4 {
  font-family: "Alexandria", sans-serif;
}

h5 {
  font-family: "Alexandria", sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0;
}
nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Alexandria", sans-serif;
}
nav ul li a {
  text-decoration: none;
  color: black;
  position: relative;
}
nav ul li a a:visited {
  color: black;
}
nav ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: black;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
nav ul li a:hover::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
nav .nav-icon {
  display: none;
}

@media (max-width: 1024px) {
  nav,
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-item {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header-wrapper .nav-wrapper .wrapper .nav-container .nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 1024px) {
  .header-wrapper .nav-wrapper .wrapper .nav-container .nav-items .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 1024px) {
  nav,
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-item {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header-wrapper .nav-wrapper .wrapper .nav-container .nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 1024px) {
  .header-wrapper .nav-wrapper .wrapper .nav-container .nav-items .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 1024px) {
  .nav-icon a,
  .nav-items a {
    position: relative;
    color: black;
  }
  .nav-icon a::before,
  .nav-items a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: black;
    bottom: 0;
    left: 0;
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .nav-items a:hover::before,
  .nav-icon a:hover::before {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .nav-icon a:visited {
    color: black;
  }
}
@media (max-width: 1024px) {
  .nav-bar-toggle-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.main-header {
  height: 100vh;
  background-color: #36423b;
  background-image: url("/assets/header.jpg");
}
.main-header .nav-wrapper {
  background-color: whitesmoke;
  height: 60px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 1px 1px whitesmoke;
          box-shadow: 0px 0px 1px 1px whitesmoke;
}
.main-header .nav-wrapper .hero-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.main-header .nav-wrapper .hero-container h1,
.main-header .nav-wrapper .hero-container h3 {
  color: #36423b;
}
.main-header .nav-wrapper .hero-container h1 {
  margin: 0;
  font-size: 5vw;
}
.main-header .nav-wrapper .hero-container h3 {
  margin: 5px 0 35px 0;
}
.main-header .nav-wrapper .hero-container .hero-text-container {
  border: 7px solid gainsboro;
  padding: 30px;
}
.main-header .nav-wrapper .hero-container .hero-text-container .button-container {
  position: absolute;
  width: 54%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-header .nav-wrapper .hero-container .hero-text-container .button-container .button {
  margin: 8px 0 0 0;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-container .nav-icon {
  display: none;
}
.nav-container .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.nav-container .nav-items .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .nav-wrapper .nav-container .nav-icon {
    display: block;
    margin: 8px 0 0 0;
  }
}
.about-me {
  background-color: whitesmoke;
  padding: 50px 0 50px 0;
}
.about-me .about-me-wrapper .wrapper {
  text-align: center;
}
.about-me .about-me-wrapper .wrapper .headshot-container img {
  border-radius: 50%;
}

.skills {
  background-color: #5F7367;
  padding-bottom: 50px;
}
.skills .text-container {
  text-align: center;
  padding-top: 50px;
}
.skills .text-container .skills-list {
  padding-left: 0px;
  display: grid;
  grid-auto-rows: 33% 33% 33%;
  grid-template-columns: repeat(auto-fit, minmax(min(50%, max(150px, 25%)), 1fr));
  row-gap: 25px;
}
.skills .text-container .skills-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Alexandria", sans-serif;
}
.skills .text-container .skills-list li i {
  font-size: clamp(2.5rem, 1.8608rem + 3.196vw, 5.3125rem);
}
.skills .text-container .other-skills-accordion .panel ul li {
  list-style: disc;
  text-align: left;
  font-family: "Alexandria", sans-serif;
}
.skills .text-container .other-skills-accordion .accordion {
  background-color: #5F7367;
  font-family: "Alexandria", sans-serif;
  color: black;
  cursor: pointer;
  padding: 0px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.skills .text-container .other-skills-accordion .accordion .skills-title-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skills .text-container .other-skills-accordion .accordion .skills-title-container i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.skills .text-container .other-skills-accordion .accordion .skills-title-container .skill-container {
  width: 100%;
}
.skills .text-container .other-skills-accordion .accordion .skills-title-container .skil-container h4 {
  margin: 0;
}
.skills .text-container .other-skills-accordion .active, .skills .text-container .other-skills-accordion .accordion:hover {
  background-color: #9daa96;
}
.skills .text-container .other-skills-accordion .panel {
  padding: 0 18px;
  background-color: #5F7367;
  display: none;
  overflow: hidden;
}

.projects {
  background-color: whitesmoke;
}
.projects .projects-wrapper {
  padding: 50px 0 50px 0;
}
.projects .projects-wrapper .wrapper h2 {
  margin: 0;
  text-align: center;
}
.projects .projects-wrapper .wrapper .block-wrapper {
  padding: 35px 0 0 0;
}
.projects .projects-wrapper .wrapper .block-wrapper .project-block-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 60px 0;
}
.projects .projects-wrapper .wrapper .block-wrapper .project-block-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-block {
  width: 45%;
}
.project-block .image {
  width: 300px;
}
.project-block .image img {
  width: 100%;
}
.project-block .text-button-container .text h4 {
  margin: 0 0 15px 0;
}
.project-block .text-button-container .text h5 {
  color: #5F7367;
  margin: 0;
}
.project-block .text-button-container .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 720px) {
  .block-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-wrapper .project-block-one,
  .block-wrapper .project-block-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.audio-projects {
  padding: 50px 0 50px 0;
  background-color: whitesmoke;
}
.audio-projects .text-container {
  text-align: center;
}

.audio-projects-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.audio-projects-block .audio-project {
  width: 45%;
}
.audio-projects-block .audio-project iframe {
  width: 300px;
  height: 300px;
}
.audio-projects-block .audio-project img {
  height: 300px;
  width: 300px;
}

@media (max-width: 720px) {
  .audio-projects .audio-projects-wrapper .wrapper .audio-projects-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contact-wrapper {
  background-color: #9daa96;
  padding: 50px 0 80px 0;
}
.contact-wrapper .wrapper {
  text-align: center;
}
.contact-wrapper .wrapper h2 {
  margin: 0 0 0 0;
}
.contact-wrapper .wrapper .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 20px 0;
}
.contact-wrapper .wrapper .text-container {
  padding: 0 0 30px 0;
}
.contact-wrapper .wrapper .contact-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact-wrapper .wrapper .contact-icons-container .contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
  padding-left: 0px;
}

.footer-wrapper {
  background-color: #5F7367;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-wrapper p {
  margin: 0;
  text-align: center;
  color: white;
}